:root {
  --background: #fff;
}

body {
  background-color: var(--background);
  transition: 200ms;
}

.vertical {
  transform: rotateZ(-90deg) !important;
  writing-mode: vertical-lr;
}

body[data-bs-theme="dark"] {
    --background: #080218;

	.meteoro {
		display: block;
	}

    .glass {
        background: transparent;
        backdrop-filter: blur(2px);
    }
}

[data-style="1"] {
	top: -5px !important;
	left: -5px !important;
	--i: 10s;
}

[data-style="2"] {
	top: -5px !important;
	left: -300px !important;
	--i: 12s;
}

[data-style="3"] {
	top: -5px !important;
	left: -500px !important;
	--i: 18s;
}

.meteoro {
	display: none;
	width: 5px;
	height: 5px;
	border-radius: 100px;
	background-color: white;
	position: fixed;
	animation: meteoro-caindo linear infinite;
	animation-duration: var(--i);
	box-shadow: 50vw -10vh 0 yellow,
		25vw 10vh 0 blue,
		-15vw -30vh 0 red,
		30vw -20vh 0 purple,
		-15vw 50vh 0 green;
	z-index: -1;
}

@keyframes meteoro-caindo {
	0% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(150vw) translateY(100vh);
	}
}